---
page_title: "Forcepoint NGFW SMC 7.4 - Terraform Provider"
description: Automate Forcepoint NGFW configuration deployment though SMC using terraform
---

# Forcepoint NGFW SMC 7.4 - Terraform Provider

| Prerequisite | Version |
|-|-|
|NGFW SMC Version | **7.4** |
|NGFW SMC API Version | **7.4** |

**Warning**
> using the provider with a different SMC version may lead to unexpected behavior.

**PREVIEW WARNING**
```
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\

This version is a pre release version for test purpose
  --- DO NOT USE UNLESS YOU ARE AWARE OF THE RISK ---

/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
```

Current scope covered by the preview:
| Feature | State |
|-|-|
| Single & cluster engine | in development |
| Routing | planned |
| VPN | planned |
| Policy management (policy push to engine dependent of whether Terraform has published Actions, which is currently in beta) | planned |

{{ .SchemaMarkdown }}
